<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Burse.LinqToMSSql.Properties.Settings._66bit_BurseConnectionString"
            connectionString="Data Source=FORGE-JITA\SQLEXPRESS2016;Initial Catalog=66bit_Burse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>